@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply overflow-y-hidden;
    }
    .dropdown-account-menu {
        @apply absolute  text-left bg-white border right-5 top-14;
    }
    .dropdown-account-menu .item-dropdown {
        @apply px-8 py-3 text-left hover:bg-neutral-200 w-full;
    }
    .sidebar .active-menu {
        @apply bg-theme-primary  text-white;
    }
    .sidebar .menu .menu-item {
        @apply hover:bg-gray-100 hover:text-gray-500 rounded-md;
    }
    .sidebar .dropdown-menu-link .item-dp-link {
        @apply hover:bg-gray-100 hover:text-gray-500 p-3 w-full text-left;
    }
    .sidebar .dropdown-menu-link .item-dp-link.active-item {
        @apply bg-gray-100 text-gray-500 p-3 w-full text-left;
    }
    .table-responsive {
        @apply overflow-x-auto;
    }
    table.tables {
        @apply w-full border-collapse border;
    }
    table.tables th {
        @apply border-t border-b text-center p-2 text-sm text-theme-text;
    }
    table.tables td {
        @apply border-t border-b text-center p-2 text-sm text-theme-text;
    }

    table.table-posisi {
        @apply w-full border-collapse border;
    }

    table.table-posisi th {
        @apply border text-center p-2 text-sm text-theme-text;
    }
    table.table-posisi td {
        @apply border text-center p-2 text-sm text-theme-text;
    }

    .tables .status {
        @apply px-5 rounded-md py-2;
    }
    .pagination {
        @apply p-2 lg:space-x-2 space-x-0 text-right;
    }
    .pagination .item-pg {
        @apply hover:bg-neutral-100 inline-block px-5 py-3 border hover:text-neutral-500 rounded text-center text-sm;
    }
    .pagination .active-pg {
        @apply bg-theme-primary text-white;
    }
    .pagination .of-the-data {
        @apply border-none;
    }
    .pagination .item-pg .item-icon {
        @apply mt-[4px];
    }
    .pagination .active {
        @apply text-white px-5 py-3;
    }
    .dropdown-tb-menu {
        @apply text-sm bg-white border text-left shadow z-[1000] will-change-transform top-auto right-14 transform-gpu translate-x-[16px]  translate-y-0 p-1  w-auto bottom-auto absolute;
    }
    .dropdown-tb-menu .item-tb-dropdown {
        @apply hover:bg-gray-100 w-full p-3  hover:text-gray-500;
    }
    .btn {
        @apply px-4 py-2 rounded;
    }
    .btn-edit {
        @apply bg-[#112042] text-white rounded px-5 py-1 text-lg;
    }
    .btn-edit .icon {
        @apply mt-2;
    }
    .btn-delete .icon {
        @apply mt-2;
    }
    .btn-delete {
        @apply bg-theme-primary text-white rounded px-5 py-1 text-lg;
    }
    .btn-add {
        @apply bg-green-500 text-white px-4 py-1 rounded text-2xl;
    }
    .btn-minus {
        @apply bg-theme-primary text-white px-4 py-1 rounded text-2xl;
    }
    .modal-layout {
        @apply w-full h-screen bg-black/50 fixed top-0 left-0 z-[99999] lg:p-5 p-2 overflow-y-auto;
    }
    .modal-layout-no-backdrop {
        @apply w-full h-screen bg-black/50 fixed top-0 left-0 z-[99999] lg:p-5 p-2 overflow-y-auto;
    }
    .modal-lg {
        @apply lg:max-w-[80%] max-w-full;
    }
    .modal-sm {
        @apply max-w-3xl;
    }
    .modal-full {
        @apply max-w-full;
    }
    .modal {
        @apply rounded mx-auto lg:mt-[5vh] bg-white;
    }
    .modal-head {
        @apply p-5 border-b flex justify-between;
    }
    .modal-body {
        @apply p-5 pb-10;
    }
    .form-group-1 {
        @apply grid grid-cols-1 gap-5;
    }
    .form-group-2 {
        @apply grid lg:grid-cols-2 grid-cols-1 gap-5;
    }
    .form-group-3 {
        @apply grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5;
    }
    .form-group-4 {
        @apply grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-5;
    }
    .form-group-5 {
        @apply grid lg:grid-cols-5 md:grid-cols-2 grid-cols-1 gap-5;
    }
    .form-group-2-no-media {
        @apply grid grid-cols-2 gap-5;
    }
    .form-group-3-no-media {
        @apply grid grid-cols-3 gap-5;
    }
    .form-group-4-no-media {
        @apply grid grid-cols-4 gap-5;
    }
    .form-group-5-no-media {
        @apply grid grid-cols-4 gap-5;
    }
    .card{
        @apply block max-w-full p-6 bg-white border border-gray-200 rounded-lg;
    }
    .card-header{
        @apply bg-slate-100 rounded-lg p-4 mb-3 font-bold;
    }
    .form-input {
        @apply border focus:ring ring-blue-300  w-full px-4 py-2 rounded text-theme-text bg-white outline-none hover:bg-gray-50 focus:bg-gray-50;
    }
    .form-control{
        @apply border focus:ring ring-blue-300  w-full px-4 py-2 rounded text-theme-text bg-white outline-none hover:bg-gray-50 focus:bg-gray-50;
    }
    input[readonly]{
        @apply border-l-4 border-gray-300 appearance-none w-full px-4 py-2 text-theme-text bg-gray-50 outline-none;

    }
    .form-input-read-only {
        @apply border-l-4 border-theme-primary appearance-none w-full px-4 py-2 text-theme-text bg-gray-50 outline-none;
    }
    .form-select-read-only {
        @apply border-l-4 border-theme-primary appearance-none accent-theme-primary w-full px-4 py-2 text-theme-text bg-gray-50 outline-none;
    }
    .form-textarea-read-only {
        @apply border-l-4 border-theme-primary appearance-none w-full p-2 px-3 h-[130px] resize-none text-theme-text bg-gray-50 outline-none;
    }
    .form-input.alert {
        @apply border border-red-500;
    }
    .form-select {
        @apply border focus:ring ring-blue-300 accent-theme-primary w-full px-4 py-2 rounded text-theme-text bg-white outline-none hover:bg-gray-50 focus:bg-gray-50;
    }
    .form-textarea {
        @apply border focus:ring ring-blue-300 w-full p-2 px-3 h-[130px] resize-none rounded text-theme-text bg-white outline-none hover:bg-gray-50 focus:bg-gray-50;
    }
    .form-check {
        @apply w-5 h-5 mt-[0px] mr-1 focus:ring ring-red-300 active:ring-red-300 checked:ring-red-300  accent-theme-primary;
    }
    .total-chart {
        @apply absolute left-[%] z-40 right-[%] top-44 text-8xl font-bold;
    }
    select {
        @apply focus:ring ring-blue-300 accent-theme-primary;
    }
    /* input {
        @apply focus:ring ring-blue-300;
    } */
    /* table {
        @apply relative;
    } */
    .input-box {
        @apply space-y-5;
    }
    .input-box label {
        @apply font-semibold text-theme-text tracking-tighter;
    }
    .input-grouped {
        @apply flex;
    }
    .input-grouped .group-text {
        @apply bg-gray-100 text-gray-500 font-semibold px-5 py-2;
    }
    .modal-info {
        @apply p-5 rounded-md border bg-[#FBFBFD] border-[#d3d1d1];
    }
    .modal-info p {
        @apply text-gray-500;
    }
    .modal-footer {
        @apply p-2 border-t bg-[#f2f2f2] flex gap-3 rounded-bl-lg rounded-br-lg;
    }
    .modal-footer button {
        @apply rounded;
    }
    .disabled {
        @apply bg-gray-100 cursor-not-allowed;
    }
    .modal-footer .btn-cancel {
        @apply bg-white text-theme-text border px-7 py-3 font-semibold hover:bg-gray-50 rounded;
    }
    .modal-footer .btn-submit {
        @apply bg-theme-primary hover:bg-red-700 text-white border px-7 py-3 rounded;
    }
    .sidenav .nav-item.active {
        @apply p-1 w-full bg-theme-primary rounded-full  text-left text-sm font-semibold text-white;
    }
    .sidenav .nav-item .circle {
        @apply bg-gray-100 rounded-full relative border border-gray-300  w-[35px] h-[35px] flex flex-col text-[10px] font-semibold align-middle  text-center text-gray-500;
    }
    .sidenav .nav-item .circle.active {
        @apply bg-white rounded-full relative border border-red-600  w-[35px] h-[35px] flex flex-col text-[10px] font-semibold align-middle  text-center text-theme-primary;
    }
    .sidenav .nav-item {
        @apply p-1 flex gap-4  w-full rounded-md  text-left text-sm font-semibold text-theme-text;
    }
    .table-keuangan {
        @apply w-full border-collapse border text-left overflow-x-auto;
    }
    .table-keuangan th {
        @apply w-[30%] p-3;
    }
    .table-keuangan th:nth-child(0) {
        @apply w-[40%] p-3;
    }
    .table-keuangan td {
        @apply p-3 text-left border;
    }
    .highcharts text {
        @apply ml-[2rem];
    }
    .tab-button.active-tab {
        @apply bg-white text-gray-600;
    }
    .tab-button.non-active-tab {
        @apply bg-gray-100 text-gray-600;
    }
    .tab-button {
        @apply bg-gray-100 text-gray-600;
    }
    .btn {
        @apply px-5 py-2 rounded-md text-slate-700;
    }
    .btn-tab {
        @apply bg-white border text-slate-700;
    }
    .btn-tab.active-tab {
        @apply bg-theme-primary border-theme-primary text-white border;
    }
    .btn-tab.disabled-tab {
        @apply bg-white border text-slate-700;
    }
    .btn-owl {
        @apply bg-white border rounded-full p-2 w-12 h-12;
    }
    .is-tab-content {
        @apply hidden;
    }
    .is-tab-content.active {
        @apply block;
    }
    .alert {
        @apply bg-theme-primary/5 p-3 border text-lg border-theme-primary text-theme-primary;
    }
    .accordion-header {
        @apply bg-theme-primary/5 font-semibold text-theme-primary  p-2 cursor-pointer;
    }
    .accordion-content {
        @apply bg-white border p-2;
    }
    .accordion-section {
        @apply mb-4;
    }
    .field-review {
        @apply lg:flex grid grid-cols-1 gap-2 w-full relative;
    }
    .field-review .field-name {
        @apply p-2 lg:w-[35%] w-full font-semibold;
    }
    .field-review .field-answer {
        @apply lg:after:content-[':'] after:absolute  lg:after:top-2 after:top-0  lg:after:-ml-5 lg:border-none  after:ml-32  p-2 w-full;
    }
    .field-review .field-answer .field-skor {
        @apply px-4 py-2 rounded bg-theme-primary/5 border font-semibold border-theme-primary text-theme-primary;
    }
    .field-input {
        @apply bg-blue-50 border-b border-gray-500 text-gray-700 px-4 py-3 flex items-center;
    }
    .review-pengajuan .field-review .field-name {
        @apply p-2 lg:w-[75%] w-full font-semibold;
    }
    .review-pengajuan .field-review .field-answer {
        @apply lg:after:content-[':'] after:absolute  lg:after:top-2 after:top-0  lg:after:-ml-5 lg:border-none  after:ml-32 border  p-2 w-full;
    }
    .review-pengajuan .field-review .field-answer .field-skor {
        @apply px-4 py-2 rounded bg-theme-primary/5 border font-semibold border-theme-primary text-theme-primary;
    }
    .review-pincab .field-review .field-name {
        @apply p-2 lg:w-[48%] w-full font-semibold;
    }
    .review-pincab .field-review .field-answer {
        @apply lg:after:content-[':'] after:absolute  lg:after:top-2 after:top-0  lg:after:-ml-5 lg:border-none  after:ml-32 border  p-2 w-full;
    }
    .review-pincab .field-review .field-answer .field-skor {
        @apply px-4 py-2 rounded bg-theme-primary/5 border font-semibold border-theme-primary text-theme-primary;
    }
    input[disabled] {
        @apply bg-gray-100;
    }
    .scrollbar {
        @apply h-[40px] overflow-hidden;
    }
    .tab-table-wrapper {
        @apply flex gap-0;
    }
    .tab-table-wrapper .tab-button {
        @apply bg-gray-50 px-5 py-2 flex gap-2 hover:bg-theme-primary/80 hover:text-white  text-gray-400 border-b-0 border font-semibold;
    }
    .tab-table-wrapper .tab-button.active {
        @apply bg-theme-primary text-white;
    }
    .tab-table-wrapper .tab-button.tab-button-start {
        @apply rounded-tl-md;
    }
    .tab-table-wrapper .tab-button.tab-button-end {
        @apply rounded-tr-md;
    }
    .table-wrapper-tab .tab-content {
        @apply hidden;
    }
    .table-wrapper-tab .tab-content.active {
        @apply block;
    }
    .btn-detail {
        @apply absolute right-0 rounded-tl-md flex gap-2 px-5 py-1 text-gray-500 bg-gray-50 transition-all text-sm font-semibold border-t border-l hover:bg-theme-primary hover:text-white bottom-0;
    }
    .btn-detail iconify-icon {
        @apply text-sm mt-[2px];
    }
    .btn-detail-graph {
        @apply absolute right-0 rounded-bl-md flex gap-2 px-5 py-1 text-gray-500 bg-gray-50 transition-all text-sm font-semibold border-b border-l hover:bg-theme-primary hover:text-white top-0;
    }
    .btn-detail-graph iconify-icon {
        @apply text-sm mt-[2px];
    }
    .title-table {
        @apply text-left font-bold border-r text-gray-600 bg-gray-50;
    }
}

@keyframes scale-in {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scale-out {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes swipe-in {
    from {
        transform: translateY(-105px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(-0);
    }
}
@keyframes swipe-out {
    from {
        transform: translateY(-0);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-105px);
    }
}

@keyframes opacity-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacity-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
